boto3==1.36.8
botocore==1.36.8
frictionless==5.18.0
google_cloud_aiplatform==1.71.1
gradio==5.13.1
Markdown==3.7
openai==1.60.2
pandas==2.2.3
protobuf==5.29.3
PyYAML==6.0.2
Requests==2.32.3
striprtf==0.0.28
vertexai==1.71.1
