.small-button {
    height: 3rem;
    font-size: 0.8rem;
}

.bottom-align {
    display: flex;
    align-items: flex-end;
}

.grp-style {
    background-color: white;
}

.margin-bottom {
    margin-bottom: 0.7rem;
}